@import "tailwindcss";
@import "@heroui/styles";

body {
    margin: 0 auto;
	overflow: hidden;
}

.radio {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.module-container {
	display: flex;
	flex-direction: row;
	margin-inline: auto;
	width: 85%;

	&>* {
		flex: 0 0 120px;
	}
}

.module-container,
.module-card {
    overflow: auto;
}


.timetable {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin-inline: auto;
	width: 90%;
}




@supports selector(::-webkit-scrollbar) {
    .module-container::-webkit-scrollbar,
    .module-card::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    .module-container::-webkit-scrollbar-track,
    .module-card::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .module-container::-webkit-scrollbar-thumb,
    .module-card::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: #888;
    }
}

@supports not selector(::-webkit-scrollbar) {
    .module-container,
    .module-card {
        scrollbar-width: thin;
    }
}
