@import "tailwindcss";
@import "@heroui/styles";

:root {
    --blue: #0485f7;
    --red: #d80202;
    --light-grey: #d9d9d9;
    --green: #53d85c;
}

* {
    box-sizing: border-box;

    scrollbar-width: thin;
    scrollbar-color: var(--light-grey) white;
    /* scroll-behavior: smooth; */
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    display: block;
    padding: 10px;
}

.radio {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.radio__control {
    border: 1px solid var(--blue);
}

.radio__content {
    font-size: 16px;
}

input.file-input::file-selector-button {
    width: 135px;
    height: 40px;
    background-color: var(--blue);
    border-radius: 20px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

div.how-to {
    width: 100%;
    margin: 0 auto;
    max-width: 450px;
    & div.how-to-steps {
        & div.how-to-image {
            position: relative;
            width: 100%;
        }
    }
}

.radio-semester {
    margin: 15px auto;
    width: 250px;
}

div.module-container {
    margin: 15px auto;
    max-width: 95%;
    width: 920px;
    overflow-x: auto;

    & > div.module-title-block {
        background-color: var(--light-grey);
        border-radius: 20px;
        padding: 4px;
        display: flex;
        gap: 4px;
        cursor: pointer;

        & > div.module-title {
            width: 125px;
            min-width: 125px;
            height: 32px;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;

            & button.color-picker__trigger {
                gap: 5px;
            }

            & label.module-code {
                font-size: 16px;
                font-weight: 600;
                color: white;
            }
        }
    }

    & > div.module-selection-block {
        background-color: var(--light-grey);
        border-radius: 20px;
        padding: 4px;
        display: flex;
        gap: 4px;
        margin-block: 4px;

        & > div.module-selection-card {
            background-color: white;
            border-radius: 16px;
            width: 125px;
            min-width: 125px;
            height: 256px;
            overflow-y: auto;
            padding: 0 8px 8px;

            & .module-group-title {
                text-align: center;
                font-size: 16px;
                border-bottom: 2px solid var(--light-grey);
                margin-block: 10px 5px;
            }

            & .radio {
                margin-block: 10px 0;
            }
        }
    }
}

div.empty {
    display: none;
}

div.timetable-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

div.timetable {
    display: flex;
    margin: 15px auto;
    max-width: 95%;
    width: 920px;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    gap: 4px;

    div.timetable-times-container {
        background-color: var(--light-grey);
        border-radius: 20px;
        padding: 4px;
        width: 83px;

        & > p {
            display: flex;
            background-color: white;
            border-radius: 16px;
            height: 32px;
            width: 75px;
            align-items: center;
            justify-content: center;
            margin-bottom: 4px;
        }

        & > p:last-child {
            margin-bottom: 0;
        }
    }

    div.timetable-week {
        display: grid;
        grid-template-columns: repeat(5, 152px);
        background-color: var(--light-grey);
        padding: 4px;
        border-radius: 20px;
        height: fit-content;
        gap: 4px;
        margin-top: 13px;

        & > div.timetable-day {
            display: grid;
            grid-template-rows: repeat(20, 32px);
            background-color: white;
            border-radius: 16px;
            padding: 4px;
            gap: 4px;
            height: 724px;

            & > div.timetable-module {
                border-radius: 14px;

                & > p {
                    font-weight: 600;
                    color: white;
                    text-align: center;
                    padding-top: 5px;
                    padding-inline: 3px;

                    & > span.timetable-module-venue {
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

div.break-down {
    width: 872px;
    max-width: 95%;
    margin: 25px auto;

    & > div.break-down-title-block {
        overflow-x: auto;
        width: 100%;

        & > div.break-down-title-block-container {
            background-color: var(--light-grey);
            width: calc(5 * 129 + 4);
            display: flex;
            padding: 4px;
            gap: 4px;
            border-radius: 20px;

            & > button.break-down-title {
                /* width: calc(100% / 5); */
                min-width: 125px;
                width: 125px;
                background-color: white;
                border-radius: 16px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                & > label.break-down-day {
                    font-family: 16px;
                    font-weight: 600;
                }
            }

            & > button.break-down-title.selected {
                background-color: var(--blue);
                color: white;
            }
        }
    }
}
