@import "tailwindcss";
@import "@heroui/styles";

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
	overflow: hidden;
}

.radio {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.module-container {
	display: flex;
	flex-direction: row;
	margin-inline: auto;
	width: 85%;

	&>* {
		flex: 0 0 120px;
	}
}

.module-container,
.module-card {
    overflow: auto;
}


.timetable {
	margin-inline: auto;
	width: 90%;
    display: grid;
    grid-template-columns: 50px 1fr;

    &>*:first-child {
        grid-column: 1/2;
        margin-top: 13px;
        & *{
            height: 26px;
        }
    }
    &>*:last-child {
        grid-column: 2/3;
        table-layout: fixed;
        width: 100%;
        & td {
            border-right: 2px solid black;
        }
        & tr td:first-child {
            border-left: 2px solid black;
        } 
        & tr {
            height: 26px;
            border-bottom: 2px solid black;
        }
        & tr:nth-child(2n){
            background-color: #dbdbdb;
        }
        & tbody tr:last-child {
            border-bottom: none;
        }
    }
}

@supports selector(::-webkit-scrollbar) {
    .module-container::-webkit-scrollbar,
    .module-card::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    .module-container::-webkit-scrollbar-track,
    .module-card::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .module-container::-webkit-scrollbar-thumb,
    .module-card::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: #888;
    }
}

@supports not selector(::-webkit-scrollbar) {
    .module-container,
    .module-card {
        scrollbar-width: thin;
    }
}
